@model IEnumerable<LogicaNegocio.CarpetaDtos.ClienteDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (@ViewBag.Mensaje != null)
{
    <div class="alert alert-success" role="alert">
        <p>@ViewBag.Mensaje</p>
    </div>
}
<div>
    <form action="/cliente/ObtenerPorRut">
        <input type="text" name="rut" placeholder="Ingrese RUT a buscar">
        <button type="submit">Buscar</button>
    </form>
</div>

<div>
    <form action="/cliente/ObtenerPorMonto">
        <input type="number" name="monto" placeholder="Ingrese monto a buscar">
        <button type="submit">Buscar</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RazonSoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rut)
            </td>
        </tr>
}
    </tbody>
</table>
