@using LogicaNegocio.CarpetaDtos
@model IEnumerable<ClienteDto>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (@ViewBag.Mensaje != null)
{
    <div class="alert alert-success" role="alert">
        <p>@ViewBag.Mensaje</p>
    </div>
}
<div>
    <form action="/cliente/ObtenerPorRS">
        <input type="text" name="rs" placeholder="Ingrese texto a buscar">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
</div>
<br />
<div>
    <form action="/cliente/ObtenerPorMonto">
        <input type="number" name="monto" placeholder="Ingrese monto a buscar">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Razon Social
            </th>
            <th>
                RUT
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calle)
            </th>
            <th>
                Numero
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                Dist (km)
            </th>
        </tr>
    </thead>

    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanciaPapeleria)
            </td>
        </tr>
}
    </tbody>
</table>
