@using LogicaNegocio.CarpetaDtos
@model IEnumerable<LogicaNegocio.CarpetaDtos.ArticuloDto>

@{
    ViewData["Title"] = "Catalogo";
}

<h1>Catalogo</h1>


@if (ViewBag.Mensaje != null)
{
    @if (ViewBag.Error)
    {
        <div class="alert alert-danger" role="alert">
            <p>@ViewBag.Mensaje</p>
        </div>
    }
    else
    {
        <div class="alert alert-success" role="alert">
            <p>@ViewBag.Mensaje</p>
        </div>
    }
}
<div>
    <form method="post" action="CheckoutEx">
        <input type="text" name="IdCliente" placeholder="Id del cliente" />
        <input type="date" name="fechaEntrega" placeholder="Fecha de entrega (yyyy-mm-dd)" />
        <button type="submit" class="btn btn-primary">Comprar</button>
    </form>
</div>

<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Cantidad de Item: @ViewBag.cantidad</li>
        <li class="list-group-item">Monto Subtotal: @ViewBag.total</li>
    </ul>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
                <td>
                    <form action="AgregarLineaEx" method="post">
                        <input type="int" name="idArticulo" value="@item.Id" hidden />
                        <input type="number" name="cantidad" class="form-control" />
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </form>
                </td>
        </tr>
}
    </tbody>
</table>
<div>
    <button type="button" class="btn btn-primary" id="btnLimpiar">Limpiar</button>
    <button type="button" class="btn btn-primary" id="btnVer">Ver</button>
</div>

@if (ViewBag.catalogo != null)
{
    <div id="catalogo" style="display:none">


        <table class="table">
            <thead>
                <tr>
                    <th>
                        Num Linea
                    </th>
                    <th>
                        Id Articulo
                    </th>
                    <th>
                        Nombre 
                    </th>
                    <th>
                        Descripcion
                    </th>
                    <th>
                        Codigo
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Precio Unidad
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (LineaDto linea in ViewBag.catalogo)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => linea.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => linea.ArticuloId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => linea.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => linea.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => linea.Codigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => linea.CantUnidades)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => linea.PrecioUnitarioVigente)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@section Scripts
{
    <script>      
        window.onload

        const btnVer = document.querySelector('#btnVer');

        btnVer.addEventListener('click', function () {
            const catalogo = document.querySelector('#catalogo');
            if (catalogo.style.display === "none") {
                catalogo.style.display = "block";
            } else {
                catalogo.style.display = "none";
            }
        });
    </script>
}